.container {
  margin-left: 40vh;
    margin-top: -96vh;
}

.emp-text {
  font-size: 12px;
  color: #b3a4aa;
}

.emp {
  background-color: #feeaf0;
}

.job {
  background-color: #fff0d3;
}

.new-appli {
  background-color: #c9fbe2;
}

.notifications {
  background-color: #008ff9;
}
